@model Pessoa
@{
	List<Pessoa> lista = (List<Pessoa>)ViewBag.Pessoas;
}

<div class="text-center">
	<h1 class="display-4">Pergunta 2 e 3: Pessoas</h1><br />


	<a role="button" asp-controller="Home" asp-action="GerarAleatorio" class="btn btn-primary">Gerar Lista Aleatória de Pessoas</a><br /><br />

	<div class="box">
	<form  asp-controller="Home" asp-action="AdicionarManual" method="POST" orientation="Horizontal" >
		<label>Nome Completo:</label><br>
		<input required type="text" id="Nome" name="Nome" placeholder="João da Silva"><br />

		<label>Idade:</label><br>
		<input required type="number" id="Idade" name="Idade" placeholder="31"><br />

		<label>Email:</label><br>
		<input required min="0" type="email" id="Email" name="Email" placeholder="silvajoao@email.com"><br /><br />

		<button type="submit" class="btn btn-success">Adicionar</button>
	</form> 
	</div>

	<h3>Lista Geral de pessoas: </h3>
<table class="table">
  <thead>
	<tr>
	  <th scope="col">Nome</th>
	  <th scope="col">Idade</th>
	  <th scope="col">Email</th>
	</tr>
  </thead>
  <tbody>
	  @foreach (var item in lista)
	  {
		<tr>
		<td>@item.Nome</td>
		<td>@item.Idade</td>
		<td>@item.Email</td>
		</tr>
	   }
  </tbody>
</table>

<h3>Lista de pessoas acima de 30 anos: </h3>
<table class="table">
  <thead>
	<tr>
	  <th scope="col">Nome</th>
	  <th scope="col">Idade</th>
	  <th scope="col">Email</th>
	</tr>
  </thead>
  <tbody>
	@foreach (var item in lista)
	{
		if (item.Idade > 30)
		{
			<tr>
			<td>@item.Nome</td>
			<td>@item.Idade</td>
			<td>@item.Email</td>
			</tr>
		}
	}
  </tbody>
</table>

</div>